extends ../layouts/base

block content
  each post in posts
    mixin post(post)
    h2
      a(href="/#{post.url}#comments") View comments

  ul.pagination.group
    - if (pages.length > 1) {
      - for (var i = currentIndex - 3; i < currentIndex + 3; i++) {
        - var page = pages[i];
        - if (page) {
        li
          - if (i === currentIndex) {
            a.active-page(href="#{page.url}")= i + 1
          - } else {
            a(href="#{page.url}")= i + 1
          - }
        - }
      - }
    - }
