extends ../layouts/base

block content
  each post in posts
    mixin post(post)
    div.comments
      a(href="#{data.baseUrl}#{post.url}#comments")
        span.icon-bubbles
        | Comments

  ul.pagination.group
    - if (pages.length > 1) {
      - for (var i = currentIndex - 3; i < currentIndex + 3; i++) {
        - var page = pages[i];
        - if (page) {
        li
          - if (i === 0) page.url = '';
          - if (i === currentIndex) {
            a.active-page(href="#{data.baseUrl}#{page.url}")= i + 1
          - } else {
            a(href="#{data.baseUrl}#{page.url}")= i + 1
          - }
        - }
      - }
    - }
