    </div>
    <a href="http://cabinjs.com">
      <img src="images/cabin.png" alt="cabin logo" class="cabin">
    </a>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="scripts/main.js" type="text/javascript"></script>
    <script>
        // Add your analytics code here
    </script>
  </body>
</html>
