<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/images/cabin.png" type="image/png">
    <link rel="stylesheet" href="/styles/main.css">
    <title>My Blog</title>
  </head>
  <body>
  </body>
    <nav id="nav">
      <h1 class="name">
          <a href="/">My Name</a>
      </h1>
      <ul class="nav-links">
        <li class="menu-in menu">
          <a href="#nav" class="icon-menu"></a>
        </li>
        <li class="menu-out menu">
          <a href="#" class="icon-menu"></a>
        </li>
        <li>
            <a href="/about.html">about</a>
        </li>
        <li>
            <a href="/projects.html">projects</a>
        </li>
        <li>
          <a href="/archives.html">archives</a>
        </li>
      </ul>
      <div class="social-media">
        <a href="https://github.com/" class="icon-github"></a>
        <a href="https://twitter.com/" class="icon-twitter"></a>
        <a href="http://pinterest.com/" class="icon-pinterest"></a>
      </div>
    </nav>
    <div class="content">
